@font-face {
    font-family: "Bigilla";
    src: url("fonts/Bigilla.otf");
}

@font-face {
    font-family: "Bigilla";
    src: url("fonts/Bigilla-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Cigra";
    src: url("fonts/cigra.otf");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*manter as medidas*/
    font-family: inherit;
    color: #000;
    font-size: inherit;
}

body {
    min-height: 100vh;
    /* tamanho mínimo da tela do usuário */
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color:snow;
}

.boxIntro {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    /*alinhamento vertical (coluna nesse caso)*/
    align-items: center;
    /*alinhamento horizontal*/
    text-align: center;
    padding: 20px;
    font-family: "Cigra";
}

.boxTitle H1 {
    font-size: 456%;
    margin: 0;
    font-weight: normal;
}

.boxTitle p {
    margin: 0;
    font-size: 234%;
}

.flexSwitch {
    transform: translateY(-49vh);
}

.flexSwitch .pt {
    margin-right: 7px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lineContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.lineContent.invert {
    flex-direction: row-reverse;
}

.boxContent {
    width: 267px;
    height: 267px;
}

.boxContent.txt {

    font-size: 105%;
    line-height: 146%;
    text-align: right;
    padding: 20px;
}

.web{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.web img{
    width: 21px;
    margin: 10px 0px 0px 10px;
}



.lineContent.invert .boxContent.txt {
    text-align: left;
}

.boxContent.txt h3 {
    font-family: 'Cigra';
    font-size: 222%;
    margin-bottom: 8px;
    letter-spacing: 3px;
}

ul {
    padding-left: 20px;
}

.boxContent.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxContent.icon.i1 {
    background-color: #f4e47d;
}

.boxContent.icon.i2 {
    background-color: #ee8750;
}

.boxContent.icon.i3 {
    background-color: #b6b34b;
}

.boxContent.icon.i4 {
    background-color: #abd6e4;
}



.culture {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    max-width: 1068px;
    margin: auto;
}

.culture h1 {
    font-size: 290%;
    font-family: "Cigra";
    letter-spacing: 3px;
    margin-top: 100px;
}

.flag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flag img {
    margin: 25px;
}

.culture p {
    font-size: 110%;
    line-height: 146%;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 380px;
    background-color: #abd6e4;
    margin-top: 250px;
    text-align: center;
}

.footer h3 {
    font-size: 150%;
    font-weight: normal;
    /* font-family: 'Cigra'; */
    letter-spacing: 1px;
}

.footer h5 {
    font-size: 170%;
    font-family: 'Cigra';
    margin: 25px 0px 90px 0px;
    font-weight: normal;
    letter-spacing: 1px;
}

.footer h1 {
    font-size: 180%;
    font-weight: normal;
}







@media screen and (max-width: 600px)

/*passou de 600 não funcionará*/
    {
    .boxTitle H1 {
        font-size: 209%;
    }

    .boxTitle p {
        font-size: 108%;
    }

    .flexSwitch {
        transform: translateY(-42vh);
    }

    .lineContent {
        justify-content: center;
    }

    .boxContent.txt {
        text-align:left; 
        font-size: 98%;
        padding: 25px;
        border-radius: 20px 20px 0px 0px;
    }

    .boxContent.icon {
        border-radius: 0px 0px 20px 20px;
    }

    .boxContent.txt.t1 {
        background-color: #f4e47d;
    }

    .boxContent.txt.t2 {
        background-color: #ee8750;
    }

    .boxContent.txt.t3 {
        background-color: #b6b34b;
    }

    .boxContent.txt.t4 {
        background-color: #abd6e4;
    }

    .flag img {
        margin: 5px;
        width: 50px;

    }

    .culture p {
        font-size: 110%;
        line-height: 146%;
        margin-top: 10px;
    }

    .culture {
        max-width: 267px;
        padding: 0;
    }

    .footer {
        border-radius: 10px 10px 0px 0px;
    }

    .footer h3 {
        font-size: 110%;
        max-width: 267px;
    }

    .footer h5 {
        font-size: 115%;
    }

    .footer h1 {
        font-size: 160%;
    }

    .web{
        justify-content: flex-start;
        }
    
    .web img{
        width: 21px;
        margin: 10px 10px 0px 0px;
    }
    
}

*[data-language] {
    /*Ocultando tudo que tem data-language.*/
    display: none;
}

body[data-setlanguage='pt'] *[data-language='pt'] {
    /*Quando o data-setlanguage do body for pt, exibe todos os elementos com atributo data-language='pt'*/
    display: inline;
}

body[data-setlanguage='en'] *[data-language='en'] {
    display: inline;
}